<header class="container">
  <div style="background-color: blue;height: 50px;"></div>
</header>
<section class="container">
  <div class="row" style="display: flex;justify-content:center;">
  <div style="width: 200px;">
    <mat-card>
      <mat-card-title>AAAA</mat-card-title>
      <mat-card-subtitle>BBB</mat-card-subtitle>
    </mat-card>
  </div>
  <div>
    <mat-card>
      <mat-card-title>AAAA</mat-card-title>
      <mat-card-subtitle>BBB</mat-card-subtitle>
    </mat-card>
  </div>
  <div>
    <mat-card>
      <mat-card-title>AAAA</mat-card-title>
      <mat-card-subtitle>BBB</mat-card-subtitle>
    </mat-card>
  </div>
  <div>
    <mat-card>
      <mat-card-title>AAAA</mat-card-title>
      <mat-card-subtitle>BBB</mat-card-subtitle>
    </mat-card>
  </div>
</div>
</section>
<section class="container">
  <div class="promotion">
  </div>
</section>