<header class="container">
  <h1 class="header">KANBAN BOARD</h1>
</header>
<section class="container">
  <div class="board" cdkDropListGroup>
    <mat-card class="kanban-card" *ngFor="let itemCard of board; let idxCard = index">
      <mat-card-title class="card-title">
        <span>{{itemCard.name}}<span *ngIf="itemCard.itemArray.length> 0"> ({{itemCard.itemArray.length}})</span></span>
        <button class="button-delete" (click)="DeleteColumn(idxCard)">
          <i class="material-icons" style="color: red">delete</i>
        </button>
      </mat-card-title>
      <mat-card-content>
        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="itemCard.itemArray"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="example-box" *ngFor="let item of itemCard.itemArray; let i=index" cdkDrag>
            {{ item }}
            <button class="button-delete-item" (click)="DeleteItem(idxCard,i)">
              <i class="material-icons" style="color: red">delete</i>
            </button>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions class="card-action">
        <mat-form-field class="kanban-form-field">
        <input matInput type="text" [(ngModel))]="inputItem" #inputText/>
        </mat-form-field>
        <button mat-button class="button" (click)="AddItem(idxCard,inputText)">Add</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="kanban-card">
      <mat-card-actions class="card-action">
        <mat-form-field class="kanban-form-field">
          <input matInput type="text" [(ngModel)]="newListName" #inputListText/>
        </mat-form-field>
        <button mat-button class="button" (click)="AddList(inputListText)">Add</button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>
<section class="container">
  <div class="promotion"></div>
</section>
